.DS_Store
*~
.idea
.vscode
chart/skywalking/charts/
chart/skywalking/Chart.lock
chart/operator/charts
chart/operator/Chart.lock
chart/adapter/charts
chart/adapter/Chart.lock
chart/LICENSE
chart/NOTICE
*.tgz
*.tgz.asc
*.tgz.sha512
build/
.claude
CLAUDE.md
.cursor
